element.style {
}
.title {
    margin-top: 0;
    margin-bottom: 10px;
}
h1 {
    margin-bottom: 10px;
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.01em;
    text-transform: none;
}
h1, h2, h3, h4, h5, h6, ol, p, ul {
    margin-bottom: 10px;
}
h1, h3 {
    margin-top: 20px;
}
h1 {
    margin: 0.67em 0;
}
b, h1, h2, h3, h4, h5, h6, label, optgroup, strong {
    font-weight: 700;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.content-parent, .title-parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    position: static;
}
.inline-parent {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(7,7,7,.9)),to(rgba(7,7,7,.9)));
    background-image: linear-gradient(180deg,rgba(7,7,7,.9),rgba(7,7,7,.9));
}
.body {
    background-color: #000;
    background-image: url(https://uploads-ssl.webflow.com/591e952…/5b47654…_180712%20-%20background.jpg);
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
    font-size: 14px;
    line-height: 20px;
}
body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial,sans-serif;
    color: #333;
}
injected stylesheet
:root {
    --lt-color-gray-100:  #f8f9fc;
    --lt-color-gray-200:  #f1f3f9;
    --lt-color-gray-300:  #dee3ed;
    --lt-color-gray-400:  #c2c9d6;
    --lt-color-gray-500:  #8f96a3;
    --lt-color-gray-600:  #5e636e;
    --lt-color-gray-700:  #2f3237;
    --lt-color-gray-800:  #1d1e20;
    --lt-color-gray-900:  #111213;
    --lt-shadowDefault:  0 2px 6px -1px rgba(0, 0, 0, 0.16), 0 1px 4px -1px rgba(0, 0, 0, 0.04);
    --lt-shadowActive:  0 0 8px -2px rgba(0, 0, 0, 0.1), 0 6px 20px -3px rgba(0, 0, 0, 0.2);
    --lt-color-white:  #fff !important;
    --lt-color-black:  #111213 !important;
    --lt-color-transparent:  rgba(255, 255, 255, 0) !important;
    --lt-color-background-light:  var(--lt-color-gray-100) !important;
    --lt-color-background-default:  var(--lt-color-gray-200) !important;
    --lt-color-background-dark:  var(--lt-color-gray-300) !important;
    --lt-color-border-light:  var(--lt-color-gray-200) !important;
    --lt-color-border-default:  var(--lt-color-gray-300) !important;
    --lt-color-border-dark:  var(--lt-color-gray-400) !important;
    --lt-color-text-very-light:  var(--lt-color-gray-500) !important;
    --lt-color-text-light:  var(--lt-color-gray-600) !important;
    --lt-color-text-default:  var(--lt-color-gray-700) !important;
    --lt-color-text-dark:  var(--lt-color-gray-800) !important;
    --lt-color-overlay-default:  #fff !important;
    --lt-color-overlay-dark:  #fff !important;
    --lt-color-overlay-transparent:  rgba(0, 0, 0, 0.1) !important;
    --lt-shadow-website-overlay:  0 0 7px 0 rgba(0, 0, 0, 0.3) !important;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}
